export type Database = {
  // Allows to automatically instantiate createClient with right options
  // instead of createClient<Database, { PostgrestVersion: 'XX' }>(URL, KEY)
  __InternalSupabase: {
    PostgrestVersion: "14.4";
  };
  public: {
    Tables: {

    };
    Views: {
    };
    Functions: {
 
    };
    Enums: {
    };
    CompositeTypes: {
    };
  };
};
